body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height of the body to full viewport height */
    margin: 0;
  }
  
  #main {
    flex: 1; /* Make the main content area flexible to occupy remaining space */
    display: flex;
  }
  
  #main > article {
    flex: 1;
  }
  
  #main > nav,
  #main > aside {
    flex: 0 0 20vw;
  }
  
  #main > nav {
    order: -1;
  }
  p{
    font-size: 30px;
    color:#918c69;
  }
  header,
  footer,
  article,
  nav,
  aside {
    padding: 1em;
  }
  
  header {
    display: flex;
    justify-content: center;
    height: 20vh;
    
  }
  header > #searchBar{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    align-self: flex-end;
    
   
  }
  header> #searchbtn{
    height: 33px;
    align-self: flex-end;
    border-radius: 10px;
    margin-left: 10px;
    background-color:#cbc6a1;
    color: #3c3a23;
    font-weight: bold;
   

  }
  header> #searchbtn:hover{
    
    background-color:#d3d0bb;
    color: #635B29;
  }
  article {
    display: flex;
    flex-direction: column
  }
  
  img{
    width: auto;
    height: 95px;
  }
  #menulinks{
    display: flex;
    flex-direction: row;
  }
#menulinks> ul{
    margin-left: 1em;
    height: 130px;
    width: 150px;
    background-color: #d3d0bb;
    color:#635B29;
    font-weight: bolder;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items:center; 
    text-align:justify;
    margin-right: 3em;
    font-size:20px;

}
#menulinks> ul:hover{
    background-color: #635B29;
    opacity: .5;
    color: #e5e1c5;
}

#bookStatus {
    display: flex;
    flex-direction: row;
}
#bookStatus> ul{
    margin-left: 1em;
    height: 100px;
    width: 150px;
    background-color: #d3d0bb;
    color:#635B29;
    font-weight: bolder;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items:center; 
    margin-right: 3em;
    font-size:20px;
    

}
#bookStatus> ul:hover{
     background-color: #635B29;
    opacity: .5;
    color: #e5e1c5;
}
  
  footer {
    background: #918c69;
    height: .1vh;
    margin-top: auto; /* Push the footer to the bottom */
    color: #e9e6cc;
    display: flex;
    align-items: center; 
    text-align:justify;
    
  }
 
  nav > ul{
    height: 25px;
    width: 120px;
    background-color: #d3d0bb;
    color:#635B29;
    font-weight: bolder;
    border-radius: 6px;
    display: flex;
    align-items: center; 
    text-align:justify;
    margin: 0.2em;;
  }
  nav > ul:hover{
    height: 25px;
    width: 120px;
    background-color:#635B29;
    color:#e9e6cc;
    font-weight: bolder;
    border-radius: 6px;
    display: flex;
    align-items: center; 
    text-align:justify;
    margin: 0.2em;;
  }
